# ==========================================
# BOL TORTLARI — FRONTEND CONFIG
# ==========================================

# Backend API Manzili
VITE_API_URL=http://localhost:5000/api

# Real-time WebSocket Manzili
VITE_SOCKET_URL=http://localhost:5000
