# ==========================================
# BOL TORTLARI — BACKEND PRODUCTION CONFIG
# ==========================================

# Port
PORT=5000
NODE_ENV=production

# Database (MongoDB Connection String)
# Misol: mongodb+srv://<user>:<password>@cluster0.mongodb.net/bol_tortlari?retryWrites=true&w=majority
MONGO_DB=

# Super Administrator Email
SUPER_ADMIN_EMAIL=admin@boltortlari.uz

# JWT Maxfiy Kaliti
JWT_SECRET=boltortlari_super_secret_jwt_key_2026_luxury

# Nodemailer / SMTP Sozlamalari (Ixtiyoriy — bo'sh qoldirilsa Ethereal sinov pochtasi ishlatiladi)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Bol Tortlari" <noreply@boltortlari.uz>

# ==========================================
# TO‘LOV TIZIMLARI (PAYME & CLICK & KARTA)
# ==========================================
# Payme Merchant Sozlamalari
PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=
PAYME_TEST_MODE=true

# Click Merchant Sozlamalari
CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=

# ==========================================
# TELEGRAM BOT SOZLAMALARI (TELEGRAF)
# ==========================================
TELEGRAM_BOT_TOKEN=8714053884:AAEv-s1LNqPic310IIoKhkl-6alhUjdvmzc
TELEGRAM_ADMIN_CHAT_ID=1897925266
